body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-title {
    font-size: 24px;
    margin: 15px 0;
}

.product-description {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    color: #333;
    margin: 15px 0;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-to-cart:hover {
    background-color: #218838;
    transform: scale(1.05);
}
#specials-content {
    font-size: 1.8rem; 
    font-weight: bold; 
    color: #ce7318;
    text-align: center; 
    margin: 20px 0; 
    text-transform: uppercase; 
}
#contact h3, #contact h4, #contact p {
    font-weight: bold; 
}